body {
    background: #111111;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
  }
  
  .main-content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
  
  h1 {
    width: 100%;
    margin: 0 auto 1.5em;
    font-size: 30px;
    
  }

  
  
  .moleskine-wrapper {
    max-width: calc(100% / 4);
    min-width: 10em;
  }
  
  .moleskine-notebook {
    height: 250px;
    width: 175px;
    position: relative;
    transition: 0.4s ease-in-out;
    border-radius: 5px 15px 15px 5px;
    transform-origin: left center 0px;
    display: inline-block;
    margin: 30px;
    perspective: 800px;
    top: 150px;
    left: 110px;
  }
  .moleskine-notebook:hover {
    transform: rotateZ(-0deg);
  }
  .moleskine-notebook:hover .notebook-cover {
    transform: rotateY(-20deg);
    z-index: 999;
    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
  }
  
  .notebook-cover {
    background: #48cc74;
    height: 250px;
    width: 175px;
    position: absolute;
    border-radius: 5px 15px 15px 5px;
    z-index: 10;
    transition: 0.5s linear;
    transform-style: preserve-3d;
    transform-origin: left center 0px;
  }
  .notebook-cover:before {
    content: "";
    position: absolute;
    width: 10px;
    height: calc(100% + 2px);
    top: -1px;
    z-index: 100;
    border-radius: 2px;
    right: 25px;
    transition: 2s ease;
    background: linear-gradient(to right, #349c2b 0%, #64cf5a 12%, #4b9745 25%, #64cf5a 37%, #4b9745 50%, #64cf5a 62%, #4b9745 75%, #64cf5a 87%, #4b9745 100%);
  }
  
  .notebook-cover.blue {
    background: #2e95aa;
  }
  .notebook-cover.blue:before {
    background: linear-gradient(to right, #1e606e 0%, #2e95aa 12%, #1e606e 25%, #2e95aa 37%, #1e606e 50%, #2e95aa 62%, #1e606e 75%, #2e95aa 87%, #1e606e 100%);
  }
  .notebook-cover.yellow {
    background: #ee6617;
  }
  .notebook-cover.yellow:before {
    background: linear-gradient(to right, #ee6617 0%, #c45413 12%, #ee6617 25%, #c45413 37%, #ee6617 50%, #c45413 62%, #ee6617 75%, #c45413 87%, #ee6617 100%);
  }
  
  .notebook-skin {
    height: 50px;
    background: #e8e8e0;
    margin-top: 80px;
    padding: 15px;
    font-size: 16px;
    position: relative;
    z-index: 0;
    color: #222;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .notebook-skin:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    bottom: 0;
    background: #cddc39;
  }
  
  .notebook-page {
    height: 100%;
    width: 175px;
    position: absolute;
    background-color: #fbfae8;
    z-index: 0;
    border-radius: 5px 16px 16px 5px;
    overflow: hidden;
  }
  .notebook-page.ruled {
    background: linear-gradient(to bottom, #fbfae8 9px, #e4e4e4 1px);
    background-size: 100% 10px;
  }
  .notebook-page.squared {
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px), linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
    background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
  }
  .notebook-page.dotted {
    background: linear-gradient(90deg, #fbfae8 10px, transparent 1%) center, linear-gradient(#fbfae8 10px, transparent 1%) center, #999;
    background-size: 11px 11px;
  }
  
  footer {
    text-align: center;
    margin: 8em auto;
    width: 100%;
  }
  footer a {
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 1px dashed #fff;
    color: #fff;
    margin: 5px;
  }
  footer a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  footer a .icons {
    margin-top: 12px;
    display: inline-block;
    font-size: 20px;
  }
  #voltar{
    color: white;
  }