html{
    margin: 0;
    background-color: #111111;
}



#titulo1{
    position: absolute;
    left: 32%;
    font-size: 50px;
    color: white;
}
#caixa1{
    background-color: rgb(161, 3, 3);
    height:140px;
}

#caixa2{
    background-color: rgb(161, 3, 3);
    height:80px;
    top: 1300.3%;
    position: relative;
   
   
}
#texto1{
    position: absolute;
    left: 42%;
    top: 90px;
    color: white;
}



#titulo2{
    position: absolute;
    
    font-size: 40px;
    
}
#titulo3{
    position: absolute;
    top: 240px;
    font-size: 30px;
    
}
#texto2{
    position: absolute;
    top: 300px;
    font-size: 20px;
    width: 30pc;
}

#titulo4{
    position: absolute;
    top: 359px;
    font-size: 30px;
    
}

#texto3{
    position: absolute;
    top:430px;
    font-size: 20px;
    width: 30pc;
}

#titulo5{
    position: absolute;
    top: 500px;
    font-size: 30px;
    width: 20pc;
    
}

#texto4{
    position: absolute;
    top:580px;
    font-size: 20px;
    width: 30pc;
}
#texto5{
    position: absolute;
    left: 42%;
    top: 20px;
    color: white;
}

#imagen1{
    position: absolute;
    top: 24pc;
    left: 3pc;
    width: 410px;
}

#imagen2{
    position: absolute;
    top: 34pc;
    width: 310px;
}

#imagen3{
    position: absolute;
    top: 34pc;
    left: 20pc;
    width: 288px;
}

#imagen4{
    position: absolute;
    top: 34pc;
    left: 38.5pc;
    width: 255px;
}
#imagen5{
    position: absolute;
    top: 34pc;
    left: 55pc;
    width: 278px;
}
#imagen6{
    position: absolute;
    top: 44pc;
    width: 310px;
}

#arte{
top: 300px;
position: absolute;

}

#cubo{

top: 680px;
position: absolute;

}

#botão{
    position: absolute;
    left: 3pc;
    top: 3pc;
    font-size: 40px;
}